/* CSS issu des tutoriels css.alsacreations.com */
html, form, body {
font-size:1em;
font-family:arial;
}
*{
	margin:0; 
	padding:0;
}
div#haut
{	background-color:white;
	color:black;
	height:60px;
	border-bottom: solid 1px;
}
div#centre
{	background-color:white;
	color:black;
	overflow:auto;
	margin-top:0px;
	padding-left:20px;
}
h1 {
	font-size:2em;
	color:black; 
	text-align:left;
	padding:10px 0px 10px 25px;
}
h2 {
	font-size:1em;
	text-align:left;
	padding:10px 0px 10px 0px;
}

.réussite {
	font-size:2em;
	color:green; 
	text-align:center;
	text-decoration:blink;
	padding:10px 0px 10px 0px;
	
}
.échec {
	font-size:2em;
	color:red; 
	text-align:center;
	text-decoration:blink;
	padding:10px 0px 10px 0px;
}


input{
color: white;
font-size: 1em;
background:black;
}
select {
color: white;
font-size: 1em;
background:black;

}

